/*reset*/
html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
ol,
ul,
li,
label,
canvas,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

/*custom*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eee;
  line-height: 1;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.5rem;
  background-color: #fff;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0.5rem;
}

main {
  padding: 1.5rem;
}

button {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

header > button {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.controller-number > label {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0.5rem;
}

.controller-number > label:first-child {
  margin-right: 2rem;
}

.controller-number input {
  margin-left: 1rem;
}

.color-palette {
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.btn-color {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  padding: 0;
  margin: 0.3rem;
}

.btn-color[aria-selected="true"] {
  border-style: dotted;
  border-width: 5px;
  pointer-events: none;
}

.container {
  height: 70vh;
  margin: 0 auto;
  width: 90vw;
  position: relative;
}

canvas {
  border: 1px solid black;
}

.download {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
